<div id="LoginFormContainer">
    <form id="LoginForm" action="http://localhost:8080/DiaryService/LoginUser" method="post">
        <div>
            <label>Name:</label>
            <input type="text" name="Name" placeholder="Your name goes here..." />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="Password" placeholder="Identify yourself..." />
        </div>
        <div>
            <input type="submit" value="Log in" />
        </div>
    </form>
    <span>New around here? then </span><a id="showRegisterForm" href="#">Register!</a>
</div>