<div id="RegisterFormContainer" style="display: none">
    <form id="Register" action="http://localhost:8080/DiaryService/RegisterUser" method="post">
        <div>
            <label>Name</label>
            <input type="text" name="Name" placeholder="Your name please..." />
        </div>
        <div>
            <label>Alias</label>
            <input type="text" name="Alias" placeholder="Your alias (if you have one)..." />
        </div>
        <div>
            <input type="submit" value="Register!" />
        </div>
    </form>
    <span>Ready for using the diary? then </span><a id="showLoginForm" href="#">Login!</a>
</div>